{% extends 'base.html.twig' %}

{% block title %}Hotel{% endblock %}

{% block body %}
    <h4>{{'hotel.name'|trans}} : {{ hotel.name }}</h4>
    <p> {{'hotel.address'|trans}} : {{ hotel.address }}</p>
    <p style="display:inline"> {{'hotel.rate'|trans}} : </p> <p style="display:inline"> {{ hotel.rate }}</p>
{% endblock %}
